
<a href={{largeImageURL}} data-size=`${imageWidth}x${imageHeight}`>
  <img alt="picture" src={{webformatURL}}  class="img-fluid" />
</a>
  {{!-- <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      {{downloads}}
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </p>
  </div> --}}
{{!-- </div> --}}
{{!-- <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg" data-size="1600x1067">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" class="img-fluid">
        </a> --}}

              
        {{!-- <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" data-size="1600x1067">
          <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" class="img-fluid" />
        </a> --}}